---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>

{% for js in page.jsarr %}
  <script type="text/javascript">
    {% include {{ js }} %}
  </script>
{% endfor %}

<!-- Add support for accordions (expandable content). Adapted from W3Schools to tackle the way the DOM is transformed. -->
<script type="text/javascript">
  const accordions = document.getElementsByClassName("accordion");
  for (let accordion of accordions) {
    const button = accordion.children[0];
    const panel = accordion.children[1];
    button.addEventListener("click", function() {
      this.classList.toggle("active");
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>
